body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  margin: 0;
  padding: 0;
  height: 5%;
  background-color: #d8f3dc;
}

main {
  flex-grow: 1;
  display: flex;
}

nav {
  width: 230px;
  height: 100%;
  padding: 10px;
}

hr {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 1px;
  border: none;
  background-color: #e0e0e0;
}

.calendar-container {
  flex-grow: 1;
  padding: 15px 30px;
}

/* 달력 상단 */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  font-size: 1.2em;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  border-radius: 8px;
  background-color: #e6f3e8;
}

#year-month {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  color: #333;
  font-size: 1.9em;
  font-weight: 500;
  box-sizing: inherit;
}

/* 달력 */
#calendar {
  flex-grow: 1;
  padding: 5px;
  margin-top: 10px;
}

#weekdays {
  height: 36px;
  font-size: 1.1em;
  font-weight: 500;
  background-color: #e7f5e9;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.weekday {
  line-height: 36px;
}

.sunday {
  color: red;
}

.saturday {
  color: blue;
}

#days {
  height: 520px;
  display: grid;
  border: 1px solid #e0e0e0;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

.day {
  font-weight: 500;
  padding: 4px 6px;
  display: grid;
  border: 0.5px solid #e0e0e0;
  border-collapse: collapse;
  box-sizing: border-box;
}

.today {
  background-color: #f3f2f2;
}
